<div class="bg-white dark:bg-gray-800 justify-center items-center  h-screen p-5  flex flex-wrap gap-5">
    @for (b of allSubCategories; track $index) {
<div class="max-w-sm w-full p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{b.name}}</h5>
    </a>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{b.slug}}</p>
</div>
    }

    @empty {
        <app-loader></app-loader>
    }
</div>