<h2 class="text-4xl font-extrabold text-center pt-11 text-green-700">
  Set new password
</h2>

<form
  [formGroup]="resetForm"
  (ngSubmit)="setNewPassword(resetForm)"
  class="max-w-md mx-auto py-28"
>
  <div class="relative z-0 w-full mb-5 group">
    <input
      formControlName="email"
      type="email"
      name="floating_email"
      id="floating_email"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-green-600 peer"
      placeholder=" "
      required
    />
    <label
      for="floating_email"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Email address</label
    >
    <!-- <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label> -->

    @if (resetForm.get('email')?.touched &&
    resetForm.get('email')?.hasError('required')) {
    <div
      class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
      role="alert"
    >
      <span class="sr-only">Info</span>
      <div>Please Write Email.</div>
    </div>
    } @if (resetForm.get('email')?.touched &&
    resetForm.get('email')?.hasError('email')) {
    <div
      class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
      role="alert"
    >
      <span class="sr-only">Info</span>
      <div>Please Write correct Email format.</div>
    </div>
    }
  </div>
  <div class="relative z-0 w-full mb-5 group">
    <input
      formControlName="newPassword"
      type="password"
      name="floating_password"
      id="floating_password"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-green-600 peer"
      placeholder=" "
      required
    />
    <label
      for="floating_password"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Password</label
    >

    @if (resetForm.get('newPassword')?.touched &&
    resetForm.get('newPassword')?.hasError('required')) {
    <div
      class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
      role="alert"
    >
      <span class="sr-only">Info</span>
      <div>Please write password.</div>
    </div>
    } @if (resetForm.get('newPassword')?.touched &&
    resetForm.get('newPassword')?.hasError('pattern')) {
    <div
      class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
      role="alert"
    >
      <span class="sr-only">Error</span>
      <div>
        <p class="font-semibold">Invalid Password:</p>
        <ul class="list-disc ml-4">
          <li>Password must be between 6 and 15 characters long.</li>
          <li>Password must contain at least one number.</li>
          <li>Password must contain at least one special character.</li>
        </ul>
      </div>
    </div>
    }
  </div>

  @if (isLoading) {
  <button
    type="submit"
    class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
  >
    <i class="fas fa-spinner fa-spin"></i>
  </button>

  } @else {
  <button
    type="submit"
    class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
  >
    Submit
  </button>
  }
</form>
